<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDepenseLabel" jhiTranslate="bprApp.depense.home.createOrEditLabel">Create or edit a Depense</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!depense.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="depense.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bprApp.depense.creationDate" for="field_creationDate">Creation Date</label>
            <div class="d-flex">
                <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="depense.creationDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bprApp.depense.eventDate" for="field_eventDate">Event Date</label>
            <div class="d-flex">
                <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" [(ngModel)]="depense.eventDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bprApp.depense.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="depense.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bprApp.depense.statut" for="field_statut">Statut</label>
            <select class="form-control" name="statut" [(ngModel)]="depense.statut" id="field_statut" >
                <option value="SUBMITTED">{{'bprApp.BusinessDocumentStatut.SUBMITTED' | translate}}</option>
                <option value="APPROVED">{{'bprApp.BusinessDocumentStatut.APPROVED' | translate}}</option>
                <option value="REJECTED">{{'bprApp.BusinessDocumentStatut.REJECTED' | translate}}</option>
                <option value="CANCELED">{{'bprApp.BusinessDocumentStatut.CANCELED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
